.experienceSection > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 64px 0;
}

.experienceSection > div > div > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;

  background-color: var(--color-background-secundary);
  border-radius: 8px;
  width: calc(50% - 16px);
  padding: 42px;
}

.experienceSection > div > div > ul > li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 36px 32px;
  border-left: 1px solid var(--color-primary);
}

.experienceSection > div > div > ul > li:last-child {
  padding-bottom: 0;
}

.experienceSection > div > div > ul > li::before {
  content: "";
  background: url(/assets/images/icons/suitcase.svg);
  position: absolute;

  background-color: var(--color-background-secundary);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48%;
  border-radius: 50%;

  margin-top: -14px;
  margin-left: -58px;
  height: 42px;
  width: 42px;
}

.experienceSection > div > div > ul > li > small {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.72;
}

.experienceSection > div > div > ul > li > strong {
  text-transform: uppercase;
  color: var(--color-primary);
  margin: 12px 0;
  font-size: 16px;
  font-weight: 400;
}

.experienceSection > div > div > ul > li > span {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .experienceSection > div > div {
    flex-direction: column;
  }

  .experienceSection > div > div > ul {
    width: 100%;
    margin: 4px 0;
  }
}
