.contactSection {
  padding: 96px 24px 48px !important;

  > div > form > fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 0;
    width: 100%;

    > div {
      width: 100%;
      margin: 4px 0;
    }

    > button {
      margin: 24px 0;
    }

    > p {
      color: var(--color-secundary);
      text-align: center;
      font-size: 18px;
      margin-top: 8px;

      &.success {
        color: var(--color-success);
      }
      &.error {
        color: var(--color-error);
      }
    }
  }
}
