.contactSection {
  padding: 96px 24px 48px !important;
}

.contactSection > div > form > fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 0;
  width: 100%;
}

.contactSection > div > form > fieldset > div {
  width: 100%;
  margin: 4px 0;
}

.contactSection > div > form > fieldset > button {
  margin: 24px 0;
}

.contactSection > div > form > fieldset > p {
  text-align: center;
  font-size: 18px;
  margin-top: 8px;
}
