.heading1 {
  font-size: 36px;
  font-weight: 700;
}
.heading1 > span {
  font-size: 36px;
  color: var(--color-primary);
}

.heading2 {
  font-size: 36px;
  font-weight: 700;
}
.heading2::before {
  content: "";
  background-color: var(--color-primary);
  border-radius: 8px;
  margin-top: -16px;
  position: absolute;
  width: 86px;
  height: 8px;
}
