.homeSection {
  min-height: 100vh;
}

.homeSection > img.logo {
  width: 8%;
  min-width: 96px;
  margin: 16px 0;
}

.homeSection > img.subTitle {
  min-width: 296px;
  width: 360px;
  margin: 16px 0;
}

.homeSection > ul {
  display: flex;
  list-style: none;
  margin: 16px 0;
  padding: 32px 36px 0;
  border-top: 1px solid var(--color-border-muted);
}

.homeSection > ul > li {
  margin: 0 9.2px;
  opacity: 0.24;
  transition: opacity, transform ease 150ms;
}

.homeSection > ul > li:hover {
  opacity: 1;
  transform: scale(1.2);
}

.homeSection > ul > li > a > img {
  width: 28px;
}
