.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-primary);
  border-bottom: 1px solid var(--color-border-secundary);
  padding: 0 24px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  max-width: 1200px;
  width: 100%;
}

.header > div > nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header > div > nav > ul > li {
  margin: 0 16px;
}

.header > div > nav > ul > li > a {
  display: inline-block;
  color: var(--color-secundary);
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  transition: color ease 300ms;
}

.header > div > nav > ul > li > a:hover {
  color: var(--color-primary);
}

@media (max-width: 800px) {
  .header > div > nav {
    display: none;
  }
}
