.aboutSection {
  background-color: var(--color-background-muted);
}

.aboutSection > div > div.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 64px 0;
}

.aboutSection > div > div.content > img.avatar {
  box-shadow: inset 0px 0px 0px 8px #fff;
  border-radius: 50%;
  border: 8px solid #fff;
  width: 148px;
}

.aboutSection > div > div.content > div.description {
  background-color: var(--color-background-default);
  border-radius: 8px;
  width: calc(100% - 148px - 64px);
  padding: 36px;
}

.aboutSection > div > div.content > div.description::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 16px 16px 16px 0;
  border-color: transparent var(--color-background-default);
  margin-top: 24px;
  margin-left: -52px;
}

.aboutSection > div > div.content > div.description > h1 {
  color: var(--color-primary);
  margin: 16px 0;
}

.aboutSection > div > div.content > div.description > p {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.aboutSection > div > div.content > div.description > p > span {
  color: var(--color-primary);
  font-weight: 900;
}

.aboutSection > div > div.content > div.description > img {
  width: 100%;
  max-width: 460px;
}

.aboutSection > div > ul.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  user-select: none;
}

.aboutSection > div > ul.footer > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.64;
}

.aboutSection > div > ul.footer > li > img {
  filter: invert();
  width: 64px;
}

.aboutSection > div > ul.footer > li > span {
  text-transform: uppercase;
  margin-top: 12px;
  color: black;
}

@media (max-width: 800px) {
  .aboutSection > div > div.content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutSection > div > div.content > img.avatar {
    margin-bottom: 36px;
  }

  .aboutSection > div > div.content > div.description {
    width: 100%;
  }

  .aboutSection > div > div.content > div.description::before {
    content: unset;
  }

  .aboutSection > div > ul.footer > li {
    display: none;
  }

  .aboutSection > div > ul.footer > li:nth-child(-n + 4) {
    display: inherit;
  }
}
